body {
	background-color: #9caec9;
	font-family: sans-serif;
}

#essai {
	background-color:#02468b;
	border-style: inset;
	color: white;

}

#identifiant {
	
	float: left;
	margin-left: 50px;
	margin-top: -50px;
}
#deconnexion{
	float: right;
	background-color: #194c9a;
	color: #eaeffa;
	margin-right: 50px;
	margin-top: -70px;
}
#prom{
	margin-top: 40px;
	margin-left: 300px;
	
}
#input{
	
	margin-left: 450px;
	margin-right: -400px;
	margin-bottom: 20px;
}

#content select.select-1{
	margin-left: 450px;
	margin-top: 30px;
	margin-bottom: 80px;
	width: 30%;
}
#subject{
	margin-top: 80px;
	margin-bottom: 50px;

}

#buttons{
	padding-bottom: 50px;
}

#archives{
	margin-right: 50px;
	margin-top: 50px;
}