body {
	background-color:#9caec9 ;
	font-family: sans-serif;
}
#deconnexion{
	float: right;
	background-color: #194c9a;
	color: #eaeffa;
	margin-right: 50px;
	margin-top: 20px;
}
#input{
	margin-top: 50px;
	margin-left: 150px;
	margin-right: -150px;
}
#list{
	margin-left: 150px;
	margin-top: 30px;
	margin-bottom: 80px;
	width: 30%;
}
#list2{
	margin-left: 200px;
	margin-top: 30px;
}
#b1{
	margin-left: -150px;
}
#b2{
	margin-top: 80px;
	margin-left: 200px;
}
#rendus{
	margin-left: 150px;
	margin-top: 90px;
	margin-bottom: 30px;
}
