<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>GMM - plateforme d'échange sujets-devoirs de l'IMIE</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<div style="border-style:inset; background-color:#02468b; color:white" >
    <h3 style="padding-left :10ex;"> GMM - plateforme d'échange sujets-devois de l'IMIE </h3>
</div>

</head>
<body style="background-color:#9caec9; font-family:sans-serif, helvetica">
<div class="container" style="float:left; position: relative; left: 38%;">


                
	
        <form name="login" style="background-color:#dfeafa; margin-top: 50ex; width: 50ex;">
            <div>Identifiant:  <input type="text" name="userid" style="margin-left:7ex"/> <br/></div>
           <div style="margin-top:2ex"> Mot de passe : <input type="password" name="pswrd" style="margin-left:3ex"/> <br/></div>
            <input type="button" onclick="check(this.form)" value="Login" style="background-color:#cf6824; border-color:#a7541d; border-style:groovy; margin-top:5ex; margin-left: 8ex;"/> 
            <input type="reset" value="Cancel" style="background-color:#cf6824; border-color:#a7541d; border-style:groovy; margin-top:5ex; margin-left:20ex;"/>
        </form>
        <script language="javascript">
            function check(form) { /*function to check userid & password*/
                /*the following code checkes whether the entered userid and password are matching*/
                if(form.userid.value == "th:text{$login}" && form.pswrd.value == "th:text{$pass}") {
                    window.open('target.html')/*opens the target page while Id & password matches*/
                }
                else {
                    alert("Erreur d'authentification")/*displays error message*/
                }
            }
        </script>
 	



</div>

</body>
</html>