<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>GMM - plateforme d'échange sujets-devoirs de l'IMIE</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<div style="border-style:inset; background-color:#02468b; color:white" >
    <h3 style="padding-left :10ex;"> GMM - plateforme d'échange sujets-devois de l'IMIE </h3>
</div>

</head>
<body style="background-color:#9caec9; font-family:sans-serif, helvetica">
<div class="container">

	<table width="100%">
		<tr style=" height : 20ex;">
		<td width="50%">

               <div style="border-style:solid; background-color:#d3e2f8; width: 33ex; height: 7ex; margin-left:-5ex;">
                        <p style="font-size:16px;">
                               <!-- th:text="${username}"<br/> 
                                th:text="${promo}">-->
                                Francis KUNTZ <br/>
                                BTS Infrastructrure et Réseaux
                        </p>
                </div>

			<div style="margin-top:6ex;">
<!-- 				<h4>th:text="$subjectTitle"</h4> -->
				<h4>Algorithme de tri</h4>
					
				<div style="margin-top:4ex;" class="row" >
					<button type="submit" value="upload" name="upload" id="upload style="background-color:#cf6824; border-color:#a7541d; border-style:groovy;">
                                                   <b>Ajouter un fichier</b>
                                               </button>
					<button type="submit" style="background-color:#cf6824; border-color:#a7541d; border-style:groovy; margin-left:5ex; ">
                                                   <b>Supprimer un fichier</b>
                                               </button>						
				</div>
                        </div> 
			
			<div>
                        <select multiple size="10" style="border-style:solid; border-color:#002776; margin-top:3ex; width:60%;">
<!-- 				<option value="selectedsubject">th:text="$fileName"</option> -->
				<option value="subject2">tri.py</option>
				<option value="subject3">compte-rendu.pdf</option>
			</select>
			</div>
			
			<div  style="margin-top:3ex;" >
			<button type="submit" style="background-color:#cf6824; border-color:#a7541d; border-style:groovy;"><b>Soumettre le devoir</b></button>
                        </div>
                        
                </td>
                
			
                <td width="50%"> 
			<button type="submit" style="float:right; background-color:#194c9a; color:#eaeffa; margin-top:2ex; margin-right:-5ex;"><i>se déconnecter</i></button>
			
		<div style="margin-top:12ex;">	
			<div style="margin-top:6ex;">
<!-- 					<h4>th:text="$subjectTitle"</h4> -->
					<h4>Groupe de travail</h4>
					
					<div style="margin-top:4ex;" class="row" >
						<button type="submit" style="background-color:#cf6824; border-color:#a7541d; border-style:groovy;"><b>Créer un groupe</b></button>
                                        </div>
				</div> 

			<div style="margin-top:4ex;" class="row" >
						<div class="col-lg-6" style=" width:60%;">
							<div class="input-group">
								<input type="text" class="form-control"	placeholder="Rechercher un groupe" autofocus="autofocus">
                                                                    <span class="input-group-btn">
									<button type="button" class="btn btn-default btn-lg">
										<span class="glyphicon glyphicon-search"></span>
									</button>
                                                                    </span>
							</div>
						</div>
                                <select multiple size="10" style="border-style:solid; border-color:#002776; width:60%;">
<!-- 				<option value="selectedsubject">th:text="$groupName"</option> -->
				<option value="subject2">Dupont-Kuntz</option>
				<option value="subject3">Jean-LeDuc</option>
			</select>
                        </div>
						
			<button type="submit" style="background-color:#cf6824; border-color:#a7541d; border-style:groovy; margin-top:3ex; "><b>Joindre le groupe</b></button>
			<button type="submit" style="background-color:#cf6824; border-color:#a7541d; border-style:groovy; margin-top:3ex; margin-left:5ex;"><b>Quitter le groupe</b></button>
		</div>	
		
		<div style="margin-top:5ex;">
                    <h6><b>NOM DU GROUPE POUR LA SOUMISSION DU DEVOIR</b></h6>
			<p style="background:white; border-style:groove; width:50%;">
<!-- 			th:text="$groupName" -->
                        
			</p>
		</div>
	
 		</td>
		</tr>
	</table> 



</div>

</body>
</html>