<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
<title>GMM - plateforme d'échange sujets-devoirs de l'IMIE</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<div style="border-style:inset; background-color:#02468b; color:white;">
    <h3 style="padding-left :10ex;"> GMM - plateforme d'échange sujets-devoirs de l'IMIE </h3>
</div>

</head>
<body style="background-color:#9caec9; font-family:sans-serif, helvetica">

<div class="container">

	<table width="100%">
		<tr style=" height : 20ex;">
		<td width="50%">

               <div style="border-style:solid; background-color:#d3e2f8; width: 33ex; height: 7ex; margin-left:-5ex;">
                        <p style="font-size:16px;">
                               <!-- th:text="${username}"<br/> 
                                th:text="${promo}">-->
                                Francis KUNTZ <br/>
                                BTS Infrastructrure et Réseaux
                        </p>
                </div>

				<div style="margin-top:6ex;">
					<h4>Sujets</h4>
					
					<div style="margin-top:4ex;" class="row"  >
						<div class="col-lg-6" >
							<div class="input-group">
								<input type="text" class="form-control"	placeholder="Rechercher un sujet" autofocus="autofocus"/>
                                                                    <span class="input-group-btn">
									<button type="button" class="btn btn-default btn-lg">
										<span class="glyphicon glyphicon-search"></span>
									</button>
                                                                    </span>
							</div>
						</div>
					</div>
				</div> 
                        <select size="10" style="border-style:solid; border-color:#002776; width:60%;">
<!-- 				<option value="selectedsubject">th:text="$subject"</option> -->
				<option value="subject2">Algorithme de tri</option>
				<option value="subject3">Design CSS</option>
				<option value="subject4">Gestion d'utilisateurs HIBERNATE</option>
				<option value="subject6">TP 4 Json</option>
				<option value="subject7">Zoo - Java</option>
				<option value="subject8">MonSuperGarage</option>
				<option value="subject9">MCD - TP La Fnak</option>
				<option value="subject10">Aéroport : diagramme de classes</option>
				<option value="subject11">TP JQuery</option>
				<option value="subject12">Page html Pokemon</option>
				<option value="subject13">TP 1 - apprentissage de Git</option>
				<option value="subject14">TP2 Spring Build avec Gradle</option>
			</select>

                </td>
                
			
                <td width="50%"> 
			<button type="submitted" style="float:right; background-color:#194c9a; color:#eaeffa; margin-top:2ex; margin-right:-5ex;"><i>se déconnecter</i></button>
			
		<div style="margin-top:12ex;">	
			<div>
			<h6><b>TITRE</b></h6>
			<p style="background:white; border-style:groove;">
<!-- 			th:text="$title" -->
			Algorithme de tri
			</p>
			</div>

			<div>
			<h6><b>DATE LIMITE</b></h6>
			<p style="background:white; border-style:groove;">
<!-- 			th:text="$deadline" -->
			01/02/17 à 12h
			</p>
			</div>
			
			<div>
			<h6><b>CONSIGNE</b></h6>
			<p style="background:white; border-style:groove;">
<!-- 			th:text="$description" -->
			Écrire une fonction insert_sort(t), qui trie en place un tableau en utilisant l’algorithme
                        du tri insertion. Cet algorithme procède ainsi : pour k = 1, . . . , len(t) − 1,
                        on insère le k-ième élément du tableau à sa place dans les k premières cases (les k − 1
                        premières étant déjà triées).
			</p>
			</div>
			
			<div>
			<h6><b>CONTRAINTES</b></h6>
			<p style="background:white; border-style:groove;">
<!-- 			th:text="$constraint" -->
                        Utiliser le langage Python.
			</p>
			</div>
			
			<button type="submitted" style="background-color:#cf6824; border-color:#a7541d; border-style:groovy; margin-top:5ex; "><b>Editer les devoirs</b></button>
		</div>	
	
 		</td>
		</tr>
	</table> 



</div>

</body>
</html>