<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<script src="https://code.jquery.com/jquery-3.1.1.js"></script>

<title>GMM - plateforme d'échange sujets-devoirs de l'IMIE</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<div style="border-style:inset; background-color:#02468b; color:white;">
    <h3 style="padding-left :10ex;"> GMM - plateforme d'échange sujets-devois de l'IMIE </h3>
</div>

	<link rel="stylesheet" type="text/css" href="teacher-view1bis.css"/>
	<title>teacher</title>
</head>
<body>

<table width="100%">

		 <tr width="100%" id="content">
      <td rowspan="2" width="15%" id="essai">
        <div id="identifiant">	Bienevenue <span th:text="${author.lastname}" ></span>
                <span th:text="${author.firstname}" ></span></div>
      </td>
            <td class="column-left" width="85%">

            <div th:if="${fail}" class="alert alert-danger" role="alert">
            <p> Please select a grade !</p></div>
            
            
            <p id="prom"> Choisir une promotion</p><br/>
            <button id="deconnexion" type="submitted" ><i>Se déconnecter</i></button>
<div class="row">
 <div class="col-lg-4">

    <div id="input" class="input-group" >
      <input type="text" class="form-control" placeholder="Rechercher..."/>


      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<select class="select-1" size="10">
<!-- 				<option value="selectedsubject">th:text="$subject"</option> -->
				<option value="promo1">POE 2016-2017</option>
				<option value="promo2">BTS Infrastrucutre Réseaux</option>
				<option value="promo3">Master Java</option>
				<option value="subject6">BTS PHP</option>
			</select>
	            </td>
        </tr>
        <tr width="30%">

            	<td id="buttons" class="column-right" width="85%">
            	
            		
			<button  id="b1" type="button" onclick="self.location.href='/teacher/creationdesujet'" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-pencil" aria-hidden="true">Creer / Modifier sujet</span>
</button>
			<button id ="b2" type="button" onclick="self.location.href='/teacher/telechargerdevoirs'" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Télécharger des devoirs
</button>
<button id ="b2" type="button" onclick="self.location.href='/archives'" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-book" aria-hidden="true"></span> accès aux archives
</button><br/>

            	</td>
	        </tr>
	  </table>
	  
<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>