<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
<title>GMM - plateforme d'échange sujets-devoirs de l'IMIE</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<div style="border-style:inset; background-color:#02468b; color:white" >
    <h3 style="padding-left :10ex;"> GMM - plateforme d'échange sujets-devoirs de l'IMIE </h3>
</div>

	<link rel="stylesheet" type="text/css" href="teacher_view2.css"/>
</head>
<body style="background-color:#9caec9; font-family:sans-serif, helvetica">

            	
            	<button id="deconnexion" onclick="self.location.href='/login'" align="right" type="submitted" style="float:right; background-color:#194c9a; color:#eaeffa; margin-top:2ex; margin-right:3ex;">Se déconnecter</button>

    
			
			<div class="container">
			<div th:if="${fail2}" class="alert alert-danger" role="alert" >
			<p>Remplissez tous les champs !</p></div>
			
			<div th:if="${succes}" class="alert alert-success" role="alert">
			<p>Sujet créé avec succès !</p></div>
			
			
		<form method="post" action="createSubject">
			<h1 align="center"><b>TITRE</b></h1>
			<label for="inputtitle">Titre</label>
			<input type="text" name="title" id="title" class="form-control" placeholder="Titre..." />
<!-- 			th:text="$title" -->
			
			<br/>
			
			<label for="inputdeadline">Date Limite</label>
			<input type="text" name="deadline" id="deadline" class="form-control" placeholder="Date limite..." />

			<br/>
			
			<label for="inputdescription">Description du sujet</label>
			<input type="text" name="description" id="description" class="form-control" placeholder="Description..." />

			<br/>
			
			<label for="inputconstraint">Contraintes</label>
			<input type="text" name="constraint" id="constraint" class="form-control" placeholder="Contraintes..." />

			<br/>
			
			<button id="button" class="btn btn-lg btn-primary btn-block" type="submit">Valider</button>
			</form>
			
		</div>

	 <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
 


<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>		
			
 	
</body>

</html>